
@{
    ViewData["Title"] = "Future Value App";
}


<div>

    <h1>Future Value</h1>


    <ul>
        <li>Please enter a monthly investment.</li>
        <li>Yearly interest rate must be between 0.1 and 10.0.</li>
        <li>Number of years must be between 1 and 50</li>
    </ul>

    <form asp-action="" method="post">

        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputPassword">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputPassword">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputPassword">
            </div>
        </div>






    </form>















</div>